{% extends 'base.html' %}

{% block body %}

<div class="container my-3">
    <h2>Challan</h2>

    {% if allChallan|length == 0 %}

    <div class="alert alert-dark" role="alert">
        No Reports found. Add your first report now!
    </div>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">SNo</th>
                <!-- <th scope="col">Actual SNo</th> -->
                <th scope="col">Number Plate</th>
                <th scope="col">Email Id</th>
                <th scope="col">Mobile Number</th>
                
                <th scope="col">Time</th>
                <th scope="col">Actions</th>
                <th scope="col">Send info</th>
            </tr>
        </thead>

        <tbody>
            {% for challan in allChallan %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <!-- <td>{{challan.sno}}</td> -->
                <td>{{challan.numberPlate}}</td>
                <td>{{challan.emailId}}</td>
                <td>{{challan.mobileNumber}}</td>
                <td>{{challan.date_created}}</td>
                <td>
                    <a href="/update/{{challan.sno}}" type="button"
                        class="btn btn-outline-dark btn-sm mx-1">Update</button>
                        <a href="/delete/{{challan.sno}}" type="button"
                            class="btn btn-outline-dark btn-sm mx-1">Delete</button>

                </td>
                <td>
                    <a href="/SMS/{{challan.mobileNumber}}" type="button"
                        class="btn btn-outline-dark btn-sm mx-1">Send SMS</button>
                    <a href="/Email/{{challan.emailId}}" type="button"
                    class="btn btn-outline-dark btn-sm mx-1">Send Email</button>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    {% endif %}


</div>

{% endblock body %}