{% extends 'base.html' %}

{% block body %}

<div class="container my-3">
  <h2>Update challan</h2>
  <form action="/update/{{challan.sno}}" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">numberPlate</label>
      <input type="text" class="form-control" name="numberPlate" value="{{challan.numberPlate}}" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">emailId</label>
      <input type="text" class="form-control" name="emailId" value="{{challan.emailId}}" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">mobileNumber</label>
      <input type="text" class="form-control" name="mobileNumber" value="{{challan.mobileNumber}}" id="exampleInputPassword1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Year</span>
      <input type="text" class="form-control" name="year" value="{{challan.date_created['year']}}" id="exampleInputPassword1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Month</span>
      <input type="text" class="form-control" name="month" value="{{challan.date_created['month']}}" id="exampleInputPassword1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Date</span>
      <input type="text" class="form-control" name="date" value="{{challan.date_created['day']}}" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-dark">Update</button>
  </form>
</div>


{% endblock body %}